* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 450px;
    padding-bottom: 80px;
    background: #1F2937;
    color: #F9FAF8;   
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* HERO */

.hero {
    display: flex;
    height: 430px;
    background: #1F2937;
    padding: 0px 450px;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 50px;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.img-placeholder {
    width: 500px;
    height: 250px;
    background: rgba(167, 167, 167, 0.479);
    text-align: center;
    align-content: center;
    color: #F9FAF8;
    flex-shrink: 0;
}

.hero-left button {
    background: #3882F6;
    width: 120px;
    height: 35px;
    border: none;
    color: #F9FAF8;
    border-radius: 5px;
    font-weight: bold;
}

/* CONTENT */

/* SECTION-1 */

.section-1 {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.section-1 h1 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 8px;
}

.box-containers {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.inner-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner-box p {
    color: #747474;
}

/* SECTION 2 */

.section-2 {
    height: 450px;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 300px;
}

.section-2 p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 15px;
}

.section-2 h3 {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    padding-right: 45px;
    font-size: 25px;
    font-weight: bold;
}

.quote-container {
    padding: 265px;
}

/* SECTION-3 */

.section-3 {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion {
    width: 1000px;
    height: 150px;
    background: #3882F6;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.promotion p {
    color: #E5E7EB;
}
.promotion button {
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-weight: bold;
}

/* FOOTER */

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: white;
}